<div id="main" class="full-modal columns large-7 panel">

  <div class="row">
    <div class="small-12 medium-6 columns" id="login">
      <h1>Arduino Simulator</h1>
      <div class="small-6 large-centered columns"><%= link_to "Go To Breadboard", sensors_path, :class => "button expand" %> </div>
    </div>
  </div>
</div>
